<th:block th:replace="~{parts/common :: topBody}"/>


<form th:method="get" th:action="@{/index}" class="row row-cols-lg-auto g-3 align-items-center mb-3">
    <div class="col-12">
        <input type="text" name="filterValue" th:value="${filterValue}" placeholder="Search by tag" class="form-control">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<th:block th:replace="~{parts/messageFrags :: messageEdit}"/>

<div th:if="${messages.isEmpty()}">
    <p>No messages available.</p>
</div>

<th:block th:replace="~{parts/messageFrags :: messageList}"/>

<th:block th:replace="~{parts/common :: bottomBody}"/>
