<th:block th:fragment="pager">
    <div class="row row-cols-lg-auto justify-content-center my-3">
        <div class="col" th:if="${messagePage.totalPages > 0}">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                   th:text="${messagePage.size}">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{${url}(size=5, page=1)}">5</a></li>
                    <li><a class="dropdown-item" th:href="@{${url}(size=10, page=1)}">10</a></li>
                    <li><a class="dropdown-item" th:href="@{${url}(size=15, page=1)}">15</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <nav aria-label="Page navigation">
                <ul class="pagination ">
                    <li th:if="${messagePage.totalPages > 0 && messagePage.number!=0}" class="page-item">
                        <a th:href="@{${url}(size=${messagePage.size}, page=1)}" class="page-link" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${messagePage.totalPages > 0 && messagePage.number>0}" class="page-item">
                        <a th:href="@{${url}(size=${messagePage.size}, page=${messagePage.number})}" class="page-link" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <th:block th:with="startPage=${(messagePage.number - 2 >= 0) ? messagePage.number - 2 : 0},
                          endPage=${(messagePage.number + 2 <= messagePage.totalPages) ? messagePage.number + 2 : messagePage.totalPages}">
                        <li th:each="pageNumber : ${#numbers.sequence(startPage + 1, endPage)}" class="page-item">
                            <a th:class="${pageNumber == messagePage.number +1} ? 'page-link active' : 'page-link'"
                               th:href="@{${url}(size=${messagePage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               ></a>
                            </a>
                        </li>
                    </th:block>

                    <li th:if="${messagePage.totalPages > 0 && messagePage.number<messagePage.totalPages -1}" class="page-item">
                        <a th:href="@{${url}(size=${messagePage.size}, page=${messagePage.number +2})}" class="page-link" aria-label="First">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${messagePage.totalPages > 0 && messagePage.number!=messagePage.totalPages -1}" class="page-item">
                        <a th:href="@{${url}(size=${messagePage.size}, page=${messagePage.totalPages})}" class="page-link" aria-label="First">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</th:block>